<div class="page-content scrollable">
	<div class="dialog-area scrollable-content">
		<form id="reset-password-form" ng-hide="success" class="col-md-5">
			<div class="title-area">Forget Password</div>
			
			<div class="form-left-area">
				<div class="col-md-10 z-group" name="email">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
						<input class="form-control" type="text" placeholder="{{'Email'| translate}}" ng-model="email"/>
					</div>
					<div ng-hide="{{emailMsg==''}}" class="z-error">{{emailMsg}}</div>
				</div>

				<br/>
				<div class="form-group col-md-10">
					<div style="font-size:12px;" translate>Enter your email address that you signed up. We'll send you an email to reset your password.</div>
					<br/>
					<div class="">
						<button type="submit" name="reset-password" class="btn btn-primary" ng-click="submit()" translate>Submit</button>
						<button class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
					</div>
				</div>
			</div>
		</form>
		<div div class="col-md-10 text-center" ng-show="success" translate>We have sent you an email, click the link in the email to reset your password.</div>
		<div div class="col-md-10 text-center" ng-show="fail"></div>
	</div>
</div>
