<div class="page-content scrollable">
	<div class="dialog-area scrollable-content">
		<form id="reset-password-form">
			<div class="title-area" translate>Reset Password</div>
			
			<div class="form-left-area">
				<div class="col-md-10 z-group">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
						<input class="form-control z-input" type="password" name="password" placeholder="{{'Password' | translate }}" ng-model="password"/>
					</div>
					<div ng-hide="{{passwordMsg==''}}"class="z-error">{{passwordMsg}}</div>
				</div>

				<div class="col-md-10 z-group">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
						<input class="form-control z-input" type="password" name="password-confirm" placeholder="{{'Password Confirm' | translate }}" ng-model="passwordConfirm"/>
					</div>
					<div ng-hide="{{passwordConfirmMsg==''}}"class="z-error">{{passwordConfirmMsg}}</div>
				</div>


				<br/>
				<div class="form-group col-md-10">
					<div style="font-size:12px;" translate>We'll send you an email to confirm your password changed.</div>
					<br/>
					<div class="">
						<button name="reset-password" class="btn btn-primary" ng-click="submit()" translate>Submit</button>
						<button class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
