	<img src="assets/img/banner_page.jpg" class="img-responsive" alt="Responsive image">
	<h4 class="breadcrumb">About Us</h4>
	
	<div class="row">
		<div class="col-lg-6">
		<h2>NT Home Service Inc.</h2>
		<p><Strong>NT Home Service Inc.</Strong> was established by a group of professionals with
many years experience in the Heating & Cooling industry beloved
by its customers for high quality of workmanship and support.
</p>
 
<p><Strong>NT Home Service</Strong> is the authorized dealer of many worldwide
respected companies such as Johnwood, KeepRite, Rinnai, 
American Standard and others. NT Home service always offers
lower prices than competitors in order to satisfy even low income customers.</p>

<h3>Lower Life-Time Cost</h3>
<p>Many Canadians don't understand the hidden lifetime costs of owning a furnace or air conditioner.Add a maintenance plan, repair bills, or financing interest rates, and you could end up paying thousands more than expected. With Home Saving it's all included - you never pay extra for maintenance, repairs or cleaning again.</p>

<h3>Lower Energy Bills</h3>
<p>High efficiency equipment lowers your natural gas and electricity costs every month. With Home Saving you could save over $400 a year - and get a more comfortable home. And the savings continue year after year. We also include a free programmable thermostat so you control your temperature year round.</p>

<h3>Get Rebate</h3>
<p>There are many government incentives to reward you for upgrading to a new high efficiency furnace or air conditioner. Even if you rent only a new furnace, you'll still qualify for more than $1,800 in energy rebates. And with Home Saving we'll help you apply for and receive all of the rebates that you are entitled to.</p>
		</div>
		<div class="col-lg-6">
			<img src="images/about/professional-475x325.jpg" class="img-responsive">
			<img src="images/about/reliance475.jpg" class="img-responsive">
        </div>
	</div>
	
	

	