	<img src="assets/img/banner_page.jpg" class="img-responsive" alt="Responsive image">
	<h4 class="breadcrumb">Air Conditioner</h4>
	
	
	<div class="row">
        <div class="col-lg-9">
        	<h3>How does a high efficiency AC save my annual cooling cost? </h3>
			<p>From the Ontario consumer report, usually a 3 members family would spend a range between $350-$ 450 hydro cost for cooling in summer time. When upgrading old AC (under 10 seers to 14.5 or higher, a saving between $100-$120  annually is possible)</p>
			<p>AC saving is based on the total summer days (1498 hrs.) (117 days with June, July, August, and September.) and the sizing criteria set out by American Standard 2.0 Ton furnace NT installed.</p>
			
			<hr>
			<h4>More information about energy saving:</h4>
 				<p><a href="http://en.wikipedia.org/wiki/Seasonal_energy_efficiency_ratio">What is HVAC Seer Ratings (Seer)? </a></p>
 				<p><a href="http://www.ontarioenergyboard.ca/OEB/consumers/electricity/your+electricity+utility">Estimated monthly electricity bill Calculator</a></p>
        </div>
        <div class="col-lg-3">
        	<img src="images/ac/american-standard-ac200.jpg" class="img-responsive" alt="Responsive image">
    		<img src="images/ac/american-standard-logo.jpg" class="img-responsive" alt="Responsive image">
        </div>
	</div>
	
	<hr>
	
	<div class="row">
        <div class="col-lg-3">
        	<img src="images/ac/keeprite-ac200.jpg" class="img-responsive" alt="Responsive image">
    		<img src="images/ac/keeprite-logo.jpg" class="img-responsive" alt="Responsive image">
        </div>
        
        <div class="col-lg-9">

			<h3>Cost saving chart by Seer</h3>
			<small>* actual saving may varied according to the detail situation.</small>
			<div class="box">
			<table class="table table-bordered">
			  <thead>
			    <tr>
			      <th>HVAC Seer Ratings</th>
			      <th class="danger">Seer 8.0</th>
			      <th class="danger">Seer 13.0</th>
			      <th class="success">Seer 15</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td>Electricity</td>
			      <td>$337</td>
			      <td>$207</td>
			      <td>$186</td>
			    </tr>
			    <tr>
			    	<td>Delivery</td>
			    	<td>$227</td>
			    	<td>$146</td>
			    	<td>$134</td>
			    </tr>
			    <tr>
			    	<td>Regulatory</td>
			    	<td>$37</td>
			    	<td>$21</td>
			    	<td>$19</td>
			    </tr>
			    <tr>
			    	<td>Debit Retirement Charge</td>
			    	<td>$31</td>
			    	<td>$19</td>
			    	<td>$17</td>
			    </tr>
			    <tr>
			    	<td>Total Electricity Charges</td>
			    	<td>$628</td>
			    	<td>$394</td>
			    	<td>$356</td>
			    </tr>
			    <tr>
			    	<td>HST</td>
			    	<td>$82</td>
			    	<td>$51</td>
			    	<td>$46</td>
			    </tr>
			    <tr>
			    	<td>Subtotal</td>
			    	<td>$709</td>
			    	<td>$445</td>
			    	<td>$402</td>
			    </tr>
			    <tr>
			    	<td>Clean Energy Benefit(-10%)</td>
			    	<td>$(71)</td>
			    	<td>$(45)</td>
			    	<td>$(40)</td>
			    </tr>
			    <tr>
			    	<td class="success">Total Amount</td>
			    	<td class="danger">$638</td>
			    	<td class="danger">$401</td>
			    	<td class="success"><strong>$362</strong></td>
			    </tr>
			  </tbody>
			</table>
			</div>
        </div>
	</div>
