	<img src="assets/img/banner_page.jpg" class="img-responsive" alt="Responsive image">
	<h4 class="breadcrumb">Community Engagemen</h4>
	
	<div id='community'>

			<h2>Community Reception and Winter Family Skating Party</h2>
			<p><Strong>NT Home Service Inc.</Strong> honorably sponsored the Community Reception and Winter Family Skating Party.</p>
			<p><Strong>Kitchener - Waterloo</Strong> Feb 23, 2014 11:30 AM - 04:00 PM <Strong>Uptown Waterloo Square</Strong> </p>
			<img src="images/community/ice-skating.jpg" class="img-responsive">
			<br>
			<img src="images/community/skating-party.jpg" class="img-responsive">
			<hr>
			<h2>Meet the Mayor of Waterloo</h2>
			<p><Strong>NT Home Service South-West Manager</Strong> Rogan Mo with the Mayor of Waterloo <Strong>Brenda Halloran</Strong></p>
			<img src="images/community/rogan-mayor-of-waterloo.jpg" class="img-responsive">
			<hr>
			<h2>Meet the Minister of Labor</h2> 
			<p><Strong>NT Home Service South-West Manager</Strong> Rogan Mo and Minister  of  Labor --<Strong>Hon. Dr. K. Kellie Leitch</Strong></p>
			<img src="images/community/rogan-minister.jpg" class="img-responsive">
			<p><Strong>NT Home Service GTA VP </Strong>Eric Li and Minister  of  Labor --<Strong>Hon. Dr. K. Kellie Leitch</Strong></p>
			<img src="images/community/eric-minister.jpg" class="img-responsive">
			<hr>
			<h2>Meet Kitchener-Waterloo MP Peter Braid</h2> 
			NT HOME SERVICE SOUTH-WEST Ontario Manager Rogan Mo and Kitchener-Waterloo MP Peter Braid 
			<p><Strong>NT Home Service South-West Manager</Strong> Rogan Mo and Kitchener-Waterloo MP <Strong>Peter Braid</Strong></p>
			<img src="images/community/rogan-mp.jpg" class="img-responsive">
			<p><Strong>NT Home Service GTA VP </Strong> Eric Li and Kitchener-Waterloo MP <Strong>Peter Braid</Strong></p>
			<img src="images/community/eric-mp.jpg" class="img-responsive">
	</div>