	<img src="assets/img/banner_page.jpg" class="img-responsive" alt="Responsive image">
	<h4 class="breadcrumb">Furnace</h4>
	
	<div class="row">
		<div class="col-lg-6">
		<h3>Total Annual Saving: (Gas)($800-$506)+(hydro)($2032-$612)=$1714</h3>
		
		<p>When we using Enbridge HYDRO ONE networks-Durhma-R1 billing, we will clearly see the saving amount or electricity of DC motor, 2 stage compared with PSC driving motor furnace (data from Energy Department of Canada).</p>
<p><a href="http://www.nthomeservice.ca/assets/pdf/nrcc38443.pdf">http://www.nrc-cnrc.gc.ca/obj/irc/doc/pubs/nrcc38443/nrcc38443.pdf</a>  </p>

<div>
<table class="table table-bordered">
      <thead>
        <tr class="success">
          <th>Average Yearly Gas <br>Usage per home</th>
          <th>3064</th>
          <th>Cubic Meters</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Gas Cost</td>
          <td>$0.239</td>
          <td>C/M3</td>
        </tr>
        <tr>
        	<td>Yearly Gas Cost</td>
        	<td>$732.30</td>
        	<td></td>
        </tr>
        <tr>
        	<td>Transportation of Gas</td>
        	<td>0.057273</td>
        	<td>C/M3</td>
        </tr>
        <tr>
        	<td>Yearly Transportation<br> of Gas</td>
        	<td>$175.48</td>
        	<td></td>
        </tr>
        <tr>
        	<td>Delivery</td>
        	<td>0.0893</td>
        	<td>C/M3</td>
        </tr>
        <tr>
        	<td>Yearly Delivery of Gas</td>
        	<td>$273.62</td>
        	<td></td>
        </tr>
        <tr>
        	<td>Total</td>
        	<td>$1181.40</td>
        	<td></td>
        </tr>
        <tr>
        	<td>HST</td>
        	<td>$153.58</td>
        	<td></td>
        </tr>
        <tr>
        	<td>Total Cost</td>
        	<td>$1334.988</td>
        	<td></td>
        </tr>
        <tr class="danger">
        	<td>Total yearly Gas Cost<br> to operate furnace</td>
        	<td>$800.99</td>
        	<td></td>
        </tr>
        <tr class="success">
        	<td>95% AFUE efficiency <br>furnace is 95%/60%=1.58X</td>
        	<td>$506.95</td>
        	<td></td>
        </tr>
      </tbody>
    </table>
    
    <table class="table table-bordered">
      <thead>
        <tr>
          <td class="danger">Single Stage Belt <br>Direct Motor(PSC)</td>
          <td>9.29kwh/day</td>
          <td>x257 days</td>
          <td>=2,388 kwh</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="danger">Single Stage Direct <br> Motor(PSC)</td>
          <td>7.91kwh/day</td>
          <td>x257 days</td>
          <td>=2,032 kwh</td>
        </tr>
        <tr  class="success">
        	<td>DC Two Stage<br>Motor</td>
			<td>2.38kwh/day</td>
          <td>x257 days</td>
          <td>=612 kwh</td>
        </tr>
      </tbody>
    </table>
</div>
		</div>
		
		<div class="col-lg-6">
		<img src="images/furnace/furnace-american-standard336.jpg" class="img-responsive">

		<img src="images/furnace/keeprite-furnace336.jpg" class="img-responsive">
		</div>
	</div>