<div ng-controller="HomeController">
    <img src="assets/img/banner_home.jpg" class="img-responsive" alt="Responsive image">
	<h4 class="breadcrumb">Home</h4>


      <!-- Example row of columns -->
      <div class="row">
      
        <div class="col-lg-4">
          <h2>Air Conditioner</h2>
          <p>The air conditioner in a central heating and cooling system provides cool air through ductwork inside your home. Rebate for AC is also available now. Like the furnace product and  service we offer, you always enjoy our priority service for upgrading and installation.</p>
          <p><a class="btn btn-primary" href="/ac" role="button">View details &raquo;</a></p>
        </div>
        
        
        <div class="col-lg-4">
          <h2>Water Heater</h2>
          <p>High efficiency water heaters help thousand of Canadian families save more than 40%(some models may get more) water heater gas bill a year. We offer a wide range for all models. We believe there is always a model suits your need. </p>
          <p><a class="btn btn-primary" href="/water-heater" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Furnace</h2>
          <p>Revolutionary technique changes on furnace made the amazing saving for home heating cost become possible. Now with the great Ontario Energy Rebate and our unique service, you furnace updating become so easy for you! </p>
          <p><a class="btn btn-primary" href="/furnace" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Government Rebate</h2>
         <p>There are many conservation and renewable energy programs available in Ontario to help you in your efforts to be more energy aware for your home. They are offered by various levels of government, by local electricity and natural gas utilities, by non-profit agencies, and by many other associations. Whether you are looking for more information, practical assistance, financial incentives, or other resources, the incentives listing for home will assist you in finding the programs best suited to your interests and needs. NT HOME SERVICE would help you apply all the Ontario available energy rebates when you use our company service and product.</p>
          <p><a class="btn btn-primary" href="/rebate" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Our Services</h2>
          <p>All the heating and cooling equipment should be serviced annually. If you need installation, upgrading, maintenance  or get any question, please call 519-781-8735 (South West Ontario), 1-855-282-2958(GTA). </p>
          <p><a class="btn btn-primary" href="/services" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Other Products</h2>
          <p>We offer a variety products in the heating and cooling service, like humidifier, boiler, thermostat, etc. </p>
          <p><a class="btn btn-primary" href="/products" role="button">View details &raquo;</a></p>
        </div>
      </div>

</div>
