	<img src="assets/img/banner_page.jpg" class="img-responsive" alt="Responsive image">
	<h4 class="breadcrumb">Governmnet Rebate</h4>

	<h2>OPA Rebate: </h2>
	<p>According to the OPA, if you change both HF AC and HF Furnace, you would get $650 OPA rebate. If only one item, like Furnace or AC, you only get $250 OPA rebate, more detail please visit</p>
	<p><a href="https://saveonenergy.ca/Consumer/Programs/HVAC-Rebates.aspx"> https://saveonenergy.ca/Consumer/Programs/HVAC-Rebates.aspx </a></p>
	<p></p>
	<hr>
	<h2>Union Gas Rebate: </h2>
	<p>According to the Union Gas Rebate, if you are qualified Union Gas client, you would get $700 for Furnace  and  Tankless Water Heater Rebate. Rebate valid until  Dec 31st,2014. More detail please visit</p> 
<p><a href="http://www.uniongas.com/homereno">http://www.uniongas.com/homereno</a> </p>
	<p></p>
	<hr>
	<h2>Enbridge Rebate: </h2>
	<p>
People who lives in The Enbridge Community Energy Conservation Program provides incentives up to $2,000 for which you can apply to your home’s energy upgrades and audit costs. The program is being offered to Enbridge customers in York Region and select areas in Toronto, Niagara and Ottawa until December 31, 2014. 
		
	</p>
	<p><a href="http://knowyourenergyscore.ca">http://knowyourenergyscore.ca</a> </p>
