	<img src="assets/img/banner_page.jpg" class="img-responsive" alt="Responsive image">
	<h4 class="breadcrumb">Services</h4>
	
	<div class="row">
		<div class="col-lg-6" id='left-side'>
			<img src="images/service/service475.jpg" class="img-responsive">
			
		</div>
		
		<div class="col-lg-6" id='right-side'>
		<h2>We guaranteed: </h2>
		<ul>
			<li>10 years free part and labor offered </li>
			<li>Free installation new equipments by TSSA certified technician</li>
			<li>Guaranteed energy saving</li>
			<li>Free parts and labor included in lowest monthly rental</li>
			<li>24/7/365 Emergency Service</li>
			<li>Government Rebate for qualified home owners. </li>
			
		</ul>
			<img src="images/service/BBBA367.jpg" class="img-responsive">
			<img src="images/service/businesscard-475x216.jpg" class="img-responsive">
			
		</div>
	</div>
